target
.cpcache
*.log
/out
/.repl
.idea
*.iml
.repl
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
.lein-classpath
\#*\#
.\#*
*.jar
*.class
dev.cljs.edn
figwheel-main.edn
.java-version
.lein-failures
.ruby-version
pom.xml
pom.xml.asc
.rebel_readline_history
_site
.sass-cache
Gemfile.lock
docs/assets/compiled/js/out

mod.cljs.edn

devel/exproj/more.cljs
