{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        ;org.clojure/clojure {:mvn/version "1.10.0-alpha7"}
        org.clojure/clojurescript {:mvn/version "1.10.339" :exclusions [commons-codec/commons-codec]}
        ;; DEV for now its easier to use cider with top level deps
        ;; com.bhauman/figwheel-core {:local/root "/Users/bhauman/workspace/figwheel/figwheel-core"}
        ;; com.bhauman/figwheel-repl {:local/root "/Users/bhauman/workspace/figwheel/figwheel-repl"}
        com.bhauman/figwheel-repl {:mvn/version "0.2.14-SNAPSHOT"}
        com.bhauman/figwheel-core {:mvn/version "0.2.14-SNAPSHOT"}

        ;; server
        ring/ring {:mvn/version "1.9.1"}
        org.eclipse.jetty.websocket/websocket-servlet {:mvn/version "9.4.36.v20210114"}
        org.eclipse.jetty.websocket/websocket-server {:mvn/version "9.4.36.v20210114"}

        ;; file watching
        hawk/hawk {:mvn/version "0.2.11"}

        ;; possibly external
        binaryage/devtools {:mvn/version "0.9.10"}

        ;; going to make validation seperate?
        expound/expound {:mvn/version "0.7.0"}
        com.bhauman/spell-spec {:mvn/version "0.1.0"}
        com.bhauman/cljs-test-display {:mvn/version "0.1.1"}
        com.bhauman/certifiable {:mvn/version "0.0.7"}}

 :paths ["src" "helper-resources"]

 :aliases {:build-helper
           {:main-opts ["-m"
                        "figwheel.main"
                        "-co" "helper.cljs.edn"
                        "-o"
                        "helper-resources/public/com/bhauman/figwheel/helper.js"
                        "-O"
                        "advanced"
                        "-c"
                        "figwheel.main.helper"]}
           :build-docs-app
           {:extra-paths ["docs-cljs"]
            :main-opts ["-m"
                        "figwheel.main"
                        "-O" "advanced"
                        "-bo" "docs"]}
           :docs
           {:extra-paths ["dev"]
            :main-opts ["-e" (build-docs)]}
           :rebel
           {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.3"}}}
           :dev
           {:extra-deps
            {org.clojure/clojurescript {:mvn/version #_"1.10.339" "1.10.773" #_"1.10.844"}
             com.bhauman/figwheel-core {:local/root "/Users/bhauman/workspace/figwheel/figwheel-core"}
             com.bhauman/figwheel-repl {:local/root "/Users/bhauman/workspace/figwheel/figwheel-repl"}
             com.bhauman/certifiable {:local/root "/Users/bhauman/workspace/certifiable"}
             ;; for testing static cljsjs resources
             ;;  cljsjs/react-vis {:mvn/version "1.11.1-0"}

             ;; for verifying conflict resolution
             #_com.datomic/client-cloud #_{:mvn/version "0.8.63"
                                           :exclusions
                                           [org.eclipse.jetty/jetty-http
                                            org.eclipse.jetty/jetty-util
                                            org.eclipse.jetty/jetty-io]}

             }
            :extra-paths ["target" "devel" "dev"]}
           :beta1 {:override-deps
                   {org.clojure/clojure {:mvn/version "1.10.0-beta1"}}}
           :cljfmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.6.3"}}
                    :main-opts ["-m" "cljfmt.main"]}
           }

 }
