---
---

@import "{{ site.theme }}";


header {
    position: relative;
    width: 200px;
}

header h1 {
    display: none;
}

section {
    width:600px;
}

a:focus {
    font-weight: normal;
}

a:hover {
    font-weight: normal;
}

footer {
    display: none;
}

.hithere {
    color:red;
}