---
---

@import "rouge-github";

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0px;
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    min-height: 4rem;
    background-color: #563d7c;
    color: white;
    padding: 0px 20px;
}

header > a {
    display: block;
    font-size: 21px;
    color: #cbbde2;
}

header > a {
    display: block;
    font-size: 21px;
    color: #cbbde2;
    text-decoration: none;
}

header > a:hover {
    color: white;
    text-decoration: none;
}

header > * {
    padding-left: 0.5rem;
    padding-right: 0.5rem;    

}

.logo {
    font-size: 24px;
    border: 1px solid white;
    padding: 5px 6px;
    border-radius: 5px;
    line-height: normal;
    margin-right: 1rem;
}

.logo .w {
    font-size: 20px;
}


.title,.section-title {
    font-size: 21px;
}

.container {
    display: flex;
}

.home-container {
    margin: 0px auto;
    max-width: 1000px;
    padding: 1rem;
}



nav {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 3rem;
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);		      
}

.major-nav a {
    margin: 1rem;
    border-radius: 3px;
    color: white;
    color: #cbbde2;
    background-color: #563d7c;
}

.major-nav a:hover {
    text-decoration: none;
    color: white;
}

nav a {
    display: block;
    padding: .25rem 1.5rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    margin: 1px 0px;
}

.main {
    flex-basis: 66%;
    padding-left: 3rem;
    padding-right: 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

h2 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    color: inherit;    
    font-weight: 400;
    line-height: 1.2;
    font-size: 2rem;
    color: inherit;
}

h3 {
    font-size: 1.75rem;
    margin-top: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}

.lead-in {
  font-weight: 300;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  max-width: 88%;
}


p code,
li code {
    font-size: 1.2rem;
    color: #e83e8c;
    word-break: break-word;
    padding: 0px 0.15rem;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

blockquote {
    font-size: 1rem;
    margin: 0 0 1rem;
    padding: 1rem 2rem;
    background-color: #fffbc6;
    border-left: solid 5px #ded454;
}

pre.highlight {
    overflow: auto;
    background-color: #f8f9fa;
    padding: 0.5rem 0.5rem;
}

pre code {
    font-size: 1rem;
}

img {
    max-width: 100%;
}

footer {
    min-height: 5em;
}

.sibling-nav {
    display: flex;
    justify-content: center;
}

.sibling-nav a {
    display: block;
    margin: 1rem;
    background-color: #563d7c;
    padding: 10px 30px;
    color: white;
    border-radius: 6px;
}

.sibling-nav a:hover {
    background-color: #876daf;
    text-decoration: none;
}
    
.sibling-nav a:hover > span {
    color: white;
}

.sibling-nav a > span {
    display: inline-block;
    font-size: 0.8em;
    color: #cbbde2;
    
}

.sibling-nav a.back-btn > span {
    margin-right: 1rem;
}

.sibling-nav a.next-btn > span {
    margin-left: 1rem;
}

.classpath {
    background-color: #f8f9fa;
    padding: 0.5rem 0.5rem;
    font-family: monospace;
    overflow: scroll;
    word-break: break-all;
    max-height: 200px;

}