---
---

@import "{{ site.theme }}";


header {
    position: relative;
    width: 200px;
}

header h1 {
    display: none;
}

section {
    width:600px;
}

a:focus {
    font-weight: normal;
}

a:hover {
    font-weight: normal;
}

footer {
    display: none;
}

.hithere {
    color:red;
}

code {
  background-color: #eee;
  display: inline-block;
  padding: 0px 3px;
  border-radius: 2px;
}

pre code {
  background: initial;
  display: initial;
}